.profile {
  display: block;
  text-align: center;
  margin: 0 auto 70px;
  padding: 30px 0px 20px;
  border: 2px solid black;
  width: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.avatar {
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.tag,
.location {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.statsItem {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.quantity {
  font-weight: bold;
}
