.transactionHistory {
  width: 800px;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}

.tableTopString {
  background-color: rgb(255, 180, 119);
}

.tableTitle,
.tableContent {
  padding: 10px;
  border: 1px solid black;
}

.tableTitle {
  text-transform: uppercase;
}

.tr:nth-child(even) {
  background-color: rgb(245, 243, 163);
}
